@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SUSTAVI BAZA PODATAKA<br /> FSRE</h1>
    <p> 
                        <ul style="list-style-type:none">
                            <li><h4>TIM 5:</h4> </li>
                            <li>Luka Blažević</li>
                            <li>Ivan Bošnjak</li>
                            <li>Filip Hrkać</li>
                            <li>Petar Šimović</li>
                        </ul>
    </p>
</div>
